@using fcNightlife.Models;
@model Tuple<IDictionary<string, Location>, YelpSharp.Data.SearchResults> 

<h2>Results</h2>
<hr />
<section>
    <table id="bars">
        <tbody>
            @if (@Model.Item2.businesses == null)
            {
                <p>No locations found!</p>
            }
            else
	        {
                foreach (var b in @Model.Item2.businesses)
                {
                    @Html.Partial("BusinessCard", Tuple.Create(@Model.Item1, b))
                }	         
	        }
        </tbody>
    </table>
</section>

<script src="/Scripts/jquery-3.1.1.js"></script>
<script type="text/javascript">
        $(function () {
            $(".btnGoing").click(function () {
                var selector = $(this).data('selector');              
                var button = $(this)["0"];
                $.ajax({
                    url: "/Home/Going",
                    type: 'POST',
                    data: '{id: "' + selector + '" }',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (result) {
                        button.value = result.count + " Going";
                    },
                    async: true,
                    processData: false
                });

            });
        });
</script>