@model fcNightlife.Models.SearchModel

@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}


<div class="jumbotron">
    <h1>What's up today?</h1>
    <p class="lead">Search for bars in your area, see if other people are going tonight, and RSVP!</p>

    <div class="form-inline">
        @using (@Ajax.BeginForm("ShowList", "Home",
                        new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "resultdiv", InsertionMode = InsertionMode.Replace, LoadingElementId = "waitimage" }))

        {
            <div class="form-group">
                <fieldset>

                    <span class="editor-field">
                        @Html.TextBoxFor(m => m.Location, new { @required = true, @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Location) })
                    </span>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <span id="waitimage" class="glyphicon glyphicon-refresh glyphicon-spin" style="display: none;"></span>
                </fieldset>
            </div>
        }
    </div>
</div>


<div id="resultdiv">

</div>    

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>